@font-face {
    font-family: 'pixel';
    src: url('../fontes/pixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

button {
    font-family: "pixel", sans-serif;
}



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0,0,0,0.7);

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(3px);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.modal-overlay.show {
    opacity: 1;
    pointer-events: all;
}

.modal-box {
    background: #1a1a1a;
    border: 3px solid #e5ff00;;
    border-radius: 14px;
    padding: 25px;
    width: 320px;
    text-align: center;
    color: #fff;
    transform: scale(0.8);
    animation: modalPop .25s forwards;
}

@keyframes modalPop {
    to { transform: scale(1); }
}

.modal-close {
    position: absolute;
    right: 25px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    transition: .2s;
}

.modal-close:hover {
    color: #00ff5c;
}

.modal-btn {
    color: var(--gb-dark);
    padding: 10px;
    width: 100px;
    margin-top: 18px;
    /* margin-left: 145px; */
    background-color: #ffe100;
    border: 4px solid color(srgb red green blue);
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    /* text-align: center;
    display: block;       */
}

.modal-btn:hover {
    transform: scale(1.05);
    background: #00e24a;
}

.hide {
    display: none;
}
