
body {
    background: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
}

.topGame{
    position: fixed; 
    top: 20px;
    font-size: 25px;
    color: #e5ff00;
}

.bottomGame{
   position: fixed; 
   bottom: 20px;
}
#dizzySnake {
    display: block;
    margin: 0 auto;
    animation: snakeDizzy 0.45s infinite ease-in-out alternate;
}

@keyframes snakeDizzy {
    from { transform: rotate(-8deg); }
    to   { transform: rotate(8deg); }
}

/* botoes dos alerts da pagina de jogo */
#btnPlayAgain, #btnMainMenu, #modal-ok, #btnHighScore{
    display: block;          /* permite centralizar */
    margin: 10px auto;       /* auto = centraliza horizontalmente */
    width: 230px;        
    height: 50px; 
    font-size: 14px;         /* opcional: diminui o texto */
}

#btnPlay, #btnPause, #btnStop{
    cursor: pointer;
    color: var(--gb-dark);
    background-color: #ffe100;
    border: 4px solid color(srgb red green blue);

}

#btnPlay:hover, #btnPause:hover, #btnStop:hover{
    cursor: pointer;
    background-color: #e5ff00;
}

#game {
    display: grid;
    grid-template-columns: repeat(20, 70px);
    grid-template-rows: repeat(10, 70px);
    /* gap: 2px; */
}

#gameTimer {
    font-size: 20px;
    font-weight: bold;
    color: #e5ff00;
    text-align: center;
    padding: 10px;
}

.cell {
    width: 70px;
    height: 70px;
    /* background: #038314; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url("img/grama.png");
}

.snake-head {
    background-image: url("img/head.png"), url("img/grama.png");
    background-size: cover;
}

.snake-body {
    background-image: url("img/body.png"), url("img/grama.png");
    background-size: cover;
}

.snake-tail {
    background-image: url("img/tail.png"), url("img/grama.png");
    background-size: cover;
}

.snake-turn{
    background-image: url("img/turnbody.png"), url("img/grama.png");
    background-size: cover;
}

.fooduva {
    background-image: url("img/uva.png"), url("img/grama.png") ;
    background-size: cover;
}

.foodlaranja {
    background-image: url("img/Laranja.png"), url("img/grama.png") ;
    background-size: cover;
}

.foodmaca {
    background-image: url("img/Maça.png"), url("img/grama.png") ;
    background-size: cover;
}

.foodpera {
    background-image: url("img/Pera.png"), url("img/grama.png") ;
    background-size: cover;
}

.foodbala {
    background-image: url("img/bala.png"), url("img/grama.png") ;
    background-size: cover;
}


