@font-face {
    font-family: 'pixel';
    src: url('../fontes/pixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* PALETA GAME BOY */
:root {
    --gb-dark:   #000000;
    --gb-mid1:   #e5ff00;
    --gb-mid2:   #8bac0f;
    --gb-light:  #9bbc0f;
}

body {
    background: var(--gb-dark);
    font-family: 'pixel', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

/* botão da musica */
#btnMusic {
    position: fixed;
    top: 40px;
    left: 40px;          /* agora fica do lado esquerdo */

    width: 60px;         /* botão maior */
    height: 60px;

    border-radius: 50%;
    border: none;

    background-color: #e5ff00;
    color: #00ff99;
    font-size: 26px;     /* ícone maior */

    cursor: pointer;
    box-shadow: 0 0 10px #00ff99;
}



/* CONTAINER GERAL */
.gb-container {
    text-align: center;
}

/* TELA “GAME BOY” */
.gb-screen {
    width: 1000px;
    height: 600px;
    background: var(--gb-light);
    border: 6px solid var(--gb-mid1);
    box-shadow: inset 0 0 0 6px var(--gb-mid2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}



/* LOGO */
.logo {
    width: 100%;
    image-rendering: pixelated;
    /* filter: grayscale(100%) contrast(120%) brightness(80%); */
}

/* MENU */
.gb-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* botão */
.gb-item { 
    color: var(--gb-dark);
    padding: 20px;
    width: 200px;
    margin: 8px auto;
    background-color: #ffe100;
    border: 3px solid color(green);
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

/* ITEM SELECIONADO – INVERTE AS CORES */
.selected,
.gb-item:hover {
    background: var(--gb-mid1);
    color: #000000;
    border-color: var(--gb-dark);
}


/* transição de páginas (hora que abrir outras páginas) */
#transition-screen {
    position: fixed;
    inset: 0;
    background: black;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.6s ease-in;
    z-index: 9999;
    pointer-events: none;
}

#transition-screen.active {
    transform: scaleX(1);
}
